body{
    background-color: aqua; 
    }

#marca{
    margin-left: 7px;
}
#modelo{
    margin-left: 7px;
}
#precio{
    margin-left: 7px;
}
#color{
    margin-left: 7px;
}
#elboton{
    margin-left: 60px;
    border-radius: 5px;
}
.panel{
    margin-left: 35px;
    margin-top: 25px;
}
.panel2{
   float: right;
   margin-right: -305px;
}
#elbotonaso{
    margin-left: 14px;
    border-radius: 5px;
}
#panelComandos{
    margin-left: 15em;
    margin-top: 20px;
}
#panelComandos2{
    margin-top: -160px;
    margin-left: 25px;
}
#panelComandos3{
    margin-left: 40em;
    margin-top: -105px;
}
#panelBorrador{
    margin-left: 60em;
    margin-top: -190px;
}
#texto{
    margin-left: 10px;
}
#traerResultado{
    margin-top: 200px;
}
#traerResultado2{
       background: orange;
      width: 505px;
      margin-left: 300px;
    
}
#idAuto{
    margin-left: 15px;
}
#marca1{
    margin-left: 5px;
}
#modelo1{
    margin-left: 5px;
}
#precio1{
    margin-left: 5px;
}
#color1{
    margin-left: 7px;
}
#botonUpdate{
    margin-left: 50px;
    border-radius: 5px;
}
#idDelete{
    margin-left: 10px;
}
#botonDELETE{
    margin-left: 18px;
    border-radius: 5px;
}
